@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,wdth,GRAD@8..144,-10,25,150&display=swap');

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  /* Implementation of UI system foundation */
  /* Breakpoints */
  --breakpoint-mobile: 360px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;

  /* Font */
  --font-roboto: 'Roboto Flex', sans-serif;

  /* Spacing */
  --spacing-3xs: 2px;
  --spacing-2xs: 4px;
  --spacing-xs: 8px;
  --spacing-s: 10px;
  --spacing-m: 12px;
  --spacing-l: 16px;
  --spacing-xl: 24px;
  --spacing-2xl: 32px;
  --spacing-3xl: 48px;
  --spacing-4xl: 64px;
  --spacing-5xl: 80px;
  --spacing-6xl: 96px;

  --spacing: var(--spacing-2xs);

  /* Font Sizes - Desktop */
  --text-3xl: 48px;
  --text-2xl: 40px;
  --text-xl: 32px;
  --text-lg: 28px;
  --text-xmd: 24px;
  --text-md: 20px;
  --text-smd: 18px;
  --text-sm: 16px;
  --text-xs-r: 14px;
  --text-xs: 14px;
  --text-2xs: 12px;
  --text-3xs: 8px;

  /* Font Sizes - Mobile */
  --text-3xl-m: 32px;
  --text-2xl-m: 28px;
  --text-xl-m: 24px;
  --text-lg-m: 22px;
  --text-xmd-m: 20px;
  --text-md-m: 18px;
  --text-smd-m: 16px;
  --text-sm-m: 14px;
  --text-xs-r-m: 12px;
  --text-xs-m: 14px;
  --text-2xs-m: 12px;
  --text-3xs-m: 8px;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-xbold: 800;

  /* Border & Radiuses */
  --tw-border-color: var(--color-border-default);

  --border-width-default: 1.5px;
  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-4: 4px;
  --border-width-8: 8px;

  --radius-2xs: 4px;
  --radius-xs: 8px;
  --radius-sm: 10px;
  --radius-md: 12px;
  --radius-lg: 16px;

  /* Shadows */
  --shadow-md: 0 2px 4px -1px rgb(0 0 0 / 0.06), 0 2px 16px -1px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 -8px 6px -3px rgb(0 0 0 / 0.05), 0 10px 15px -1px rgb(0 0 0 / 0.1);

  /* Semantic Colors */
  --color-primary-lightest: var(--blue-100);
  --color-primary-light: var(--blue-200);
  --color-primary-mlight: var(--blue-300);
  --color-primary: var(--blue-500);
  --color-primary-dark: var(--blue-700);
  --color-primary-darkest: var(--blue-900);
  --color-primary-default-15: var(--blue-500-15);

  --color-neutral-white: var(--neutral-00);
  --color-neutral-lightest: var(--neutral-100);
  --color-neutral-light: var(--neutral-300);
  --color-neutral-midlight: var(--neutral-400);
  --color-neutral-default: var(--neutral-500);
  --color-neutral-dark: var(--neutral-800);
  --color-neutral-darkest: var(--neutral-900);
  --color-neutral-white-25: rgba(255, 255, 255, 0.25);
  --color-neutral-darkest-25: rgba(23, 23, 23, 0.25);

  --color-alert-lightest: var(--orange-100);
  --color-alert-light: var(--orange-300);
  --color-alert-default: var(--orange-500);
  --color-alert-dark: var(--orange-700);
  --color-alert-darkest: var(--orange-900);

  --color-attention-lightest: var(--red-100);
  --color-attention-light: var(--red-300);
  --color-attention-default: var(--red-500);
  --color-attention-dark: var(--red-700);
  --color-attention-darkest: var(--red-800);

  --color-success-lightest: var(--green-100);
  --color-success-light: var(--green-300);
  --color-success: var(--green-500);
  --color-success-dark: var(--green-700);
  --color-success-darkest: var(--green-800);

  --color-slate-lightest: var(--slate-100);
  --color-slate-light: var(--slate-300);
  --color-slate-default: var(--slate-500);
  --color-slate-dark: var(--slate-600);
  --color-slate-darkest: var(--slate-800);

  /* Mapped Colors */
  --color-body: var(--color-neutral-dark);
  --color-heading: var(--color-neutral-darkest);
  --color-subtitle: var(--color-neutral-default);
  --color-on-action: var(--color-neutral-white);
  --color-placeholder: var(--color-neutral-midlight);
  --color-disable: var(--color-neutral-midlight);
  --color-disable-high-contrast: var(--color-neutral-default);
  --color-link: var(--color-primary-default-15);
  --color-link-hover: var(--color-primary-dark);
  --color-link-pressed: var(--color-primary-mlight);
  --color-link-disable: var(--color-primary-light);

  --color-icon-body: var(--color-neutral-dark);
  --color-icon-subtitle: var(--color-neutral-default);
  --color-icon-primary: var(--color-primary-default-15);
  --color-icon-on-action: var(--color-neutral-white);
  --color-icon-alert: var(--color-alert-default);
  --color-icon-success: var(--color-success);
  --color-icon-attention: var(--color-attention-default);
  --color-icon-disable: var(--color-neutral-mlight);
  --color-icon-disable-high-contrast: var(--color-neutral-default);
  --color-icon-link: var(--color-primary-default-15);
  --color-icon-link-hover: var(--color-primary-dark);
  --color-icon-link-pressed: var(--color-primary-mlight);
  --color-icon-link-disable: var(--color-primary-light);
  --color-icon-primary-dark: var(--color-primary-dark);
  --color-icon-info: var(--color-primary-dark);

  --color-border-default: var(--color-neutral-light);
  --color-border-dark: var(--color-neutral-midlight);
  --color-border-darkest: var(--color-neutral-dark);
  --color-border-disable: var(--color-neutral-light);
  --color-border-primary: var(--color-primary-default-15);
  --color-border-secoundary-disable: var(--color-primary-light);
  --color-border-primary-subtle: var(--color-primary-mlight);
  --color-border-focus: var(--color-primary-default-15);
  --color-border-outline-hover: var(--color-primary-lightest);
  --color-border-info: var(--color-primary-default-15);
  --color-border-success: var(--color-success);
  --color-border-alert: var(--color-alert-default);
  --color-border-attention: var(--color-attention-default);
  --color-border-colorside: var(--color-attention-light);
  --color-border-seprator: var(--color-neutral-light);
  --color-border-grid: var(--color-neutral-midlight);

  --color-surface-page-body: var(--color-neutral-lightest);
  --color-surface-card: var(--color-neutral-white);
  --color-surface-card-hover: var(--color-neutral-light);
  --color-surface-comp-active: var(--color-neutral-lightest);
  --color-surface-success: var(--color-success);
  --color-surface-success-subtle: var(--color-success-lightest);
  --color-surface-snackbar: var(--color-neutral-darkest);
  --color-surface-primary: var(--color-primary-default-15);
  --color-surface-primary-hover: var(--color-primary-dark);
  --color-surface-secoundary-hover: var(--color-primary-lightest);
  --color-surface-primary-pressed: var(--color-primary-mlight);
  --color-surface-primary-disabled: var(--color-primary-light);
  --color-surface-secoundary-pressed: var(--color-primary-mlight);
  --color-surface-alert: var(--color-alert-default);
  --color-surface-alert-subtle: var(--color-alert-lightest);
  --color-surface-attention: var(--color-attention-default);
  --color-surface-attention-subtle: var(--color-attention-lightest);
  --color-surface-disable: var(--color-neutral-lightest);
  --color-surface-info-subtle: var(--color-primary-lightest);
  --color-surface-modal: var(--color-neutral-white);
  --color-surface-node-indicator-back: var(--color-primary-default-15);
  --color-surface-chips-selected: var(--color-primary-lightest);

  --color-guide-dimention: var(--color-attention-default);
  --color-guide-focused-dimention: var(--color-border-primary);
  --color-guide-degree: var(--purple-500);

  --color-overlay-black-backdrop: var(--color-neutral-darkest-25);
  --color-overlay-white-backdrop: var(--color-neutral-white-25);

  /* Implementation of UI system foundation ends here */
}

@layer components {
  .button_style {
    @apply gap-2 inline-flex items-center justify-center whitespace-nowrap rounded-md transition-all disabled:pointer-events-none [&_svg]:pointer-events-none [&_svg]:size-5 shrink-0 [&_svg]:shrink-0 outline-none aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive cursor-pointer;
  }

  .button_style_default {
    @apply bg-primary text-on-action hover:bg-primary-dark disabled:bg-primary-light focus-visible:bg-primary-mlight;
  }

  .button_style_secondary {
    @apply bg-white border-[1.5px] border-primary text-primary hover:bg-primary-lightest disabled:border-primary-light disabled:text-primary-light focus-visible:bg-primary-mlight;
  }

  .button_style_ghost {
    @apply bg-white text-primary hover:bg-primary-lightest disabled:border-primary-light disabled:text-primary-light focus-visible:bg-primary-mlight;
  }

  .icon_button_style {
    @apply font-roboto text-sm/[19px] font-semibold inline-flex items-center justify-center whitespace-nowrap transition-all disabled:pointer-events-none [&_svg]:pointer-events-none shrink-0 [&_svg]:shrink-0 outline-none aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive cursor-pointer;
  }

  .icon_button_style_default {
    @apply bg-primary text-on-action hover:bg-primary-dark disabled:bg-primary-light focus-visible:bg-primary-mlight;
  }

  .icon_button_style_secondary {
    @apply bg-white border-[1.5px] border-primary text-primary hover:bg-primary-lightest disabled:border-primary-light disabled:text-primary-light focus-visible:bg-primary-mlight;
  }

  .icon_button_style_ghost {
    @apply bg-white text-primary hover:bg-primary-lightest disabled:border-primary-light disabled:text-primary-light focus-visible:bg-primary-mlight;
  }

  .icon_button_black_style_default {
    @apply bg-white text-neutral-dark hover:bg-neutral-light disabled:text-neutral-light;
    box-shadow:
      0 2px 16px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -1px rgb(0 0 0 / 0.06);
  }

  .icon_button_black_style_secondary {
    @apply bg-white border-[1.5px] border-neutral-light text-neutral-dark hover:bg-neutral-light disabled:border-neutral-light disabled:text-neutral-light;
  }

  .icon_button_black_style_ghost {
    @apply bg-white text-neutral-dark hover:bg-neutral-light disabled:text-neutral-light;
  }

  .icon_button_style_large {
    @apply w-11 h-11 rounded-md [&_svg:not([class*='size-'])]:size-5;
  }

  .icon_button_style_medium {
    @apply w-10 h-10 rounded-md [&_svg:not([class*='size-'])]:size-5;
  }

  .icon_button_style_small {
    @apply w-6 h-6 [&_svg:not([class*='size-'])]:size-4 rounded-xs;
  }

  .icon_group_button_style {
    @apply font-roboto text-sm/[19px] font-semibold justify-center [&_svg:not([class*='size-'])]:size-5 whitespace-nowrap transition-all disabled:pointer-events-none shrink-0 [&_svg]:shrink-0 outline-none aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive cursor-pointer inline-flex items-center rounded-xl h-11 bg-white text-neutral-dark disabled:text-neutral-light [&>*]:px-3 [&>*]:disabled:text-neutral-midlight;
    box-shadow:
      0 2px 16px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -1px rgb(0 0 0 / 0.06);
  }

  .icon_group_button_style > * {
    @apply relative h-full disabled:text-neutral-midlight;
  }

  .icon_group_button_style > *:not(:first-child)::before {
    content: '';
    @apply absolute left-0 bg-gray-300;
    top: 1rem;
    bottom: 1rem;
    width: 1px;
  }
}

.shadown-md {
  box-shadow:
    10px 2px 16px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.roboto-flex {
  font-family: 'Roboto Flex', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

[data-sonner-toast][data-styled='true'] {
  padding: 24px;
}

:root {
  /* Implementation of UI system foundation */
  /* Primitive Colors */
  --blue-100: rgba(217, 226, 255, 1);
  --blue-200: rgba(188, 205, 255, 1);
  --blue-300: rgba(142, 173, 255, 1);
  --blue-400: rgba(89, 129, 255, 1);
  --blue-500: #3355ff;
  --blue-600: rgba(27, 49, 245, 1);
  --blue-700: rgba(20, 30, 225, 1);
  --blue-800: rgba(23, 26, 182, 1);
  --blue-900: rgba(25, 30, 143, 1);
  --blue-500-15: rgba(51, 85, 255, 1);

  --red-100: rgba(250, 204, 204, 1);
  --red-200: rgba(245, 153, 153, 1);
  --red-300: rgba(239, 102, 102, 1);
  --red-400: rgba(234, 51, 51, 1);
  --red-500: rgba(229, 0, 0, 1);
  --red-600: rgba(183, 0, 0, 1);
  --red-700: rgba(137, 0, 0, 1);
  --red-800: rgba(92, 0, 0, 1);
  --red-900: rgba(46, 0, 0, 1);

  --green-100: rgba(204, 235, 214, 1);
  --green-200: rgba(153, 214, 173, 1);
  --green-300: rgba(102, 194, 133, 1);
  --green-400: rgba(51, 173, 92, 1);
  --green-500: rgba(0, 153, 51, 1);
  --green-600: rgba(0, 122, 41, 1);
  --green-700: rgba(0, 92, 31, 1);
  --green-800: rgba(0, 61, 20, 1);
  --green-900: rgba(0, 31, 10, 1);

  --orange-100: rgba(252, 234, 216, 1);
  --orange-200: rgba(248, 209, 176, 1);
  --orange-300: rgba(242, 177, 127, 1);
  --orange-400: rgba(236, 134, 75, 1);
  --orange-500: rgba(231, 100, 35, 1);
  --orange-600: rgba(217, 78, 29, 1);
  --orange-700: rgba(180, 59, 26, 1);
  --orange-800: rgba(144, 48, 28, 1);
  --orange-900: rgba(116, 42, 26, 1);

  --purple-100: rgba(240, 234, 253, 1);
  --purple-200: rgba(227, 217, 251, 1);
  --purple-300: rgba(206, 186, 248, 1);
  --purple-400: rgba(181, 146, 243, 1);
  --purple-500: rgba(146, 83, 234, 1);
  --purple-600: rgba(145, 69, 226, 1);
  --purple-700: rgba(128, 51, 206, 1);
  --purple-800: rgba(108, 42, 173, 1);
  --purple-900: rgba(90, 37, 141, 1);

  --neutral-00: rgba(255, 255, 255, 1);
  --neutral-100: rgba(238, 238, 238, 1);
  --neutral-200: rgba(229, 229, 229, 1);
  --neutral-300: rgba(212, 212, 212, 1);
  --neutral-400: rgba(153, 153, 153, 1);
  --neutral-500: rgba(115, 115, 115, 1);
  --neutral-600: rgba(82, 82, 82, 1);
  --neutral-700: rgba(64, 64, 64, 1);
  --neutral-800: rgba(38, 38, 38, 1);
  --neutral-900: rgba(23, 23, 23, 1);

  --slate-50: rgba(248, 250, 252, 1);
  --slate-100: rgba(241, 245, 249, 1);
  --slate-200: rgba(226, 232, 240, 1);
  --slate-300: rgba(203, 213, 225, 1);
  --slate-400: rgba(148, 163, 184, 1);
  --slate-500: rgba(100, 116, 139, 1);
  --slate-600: rgba(71, 85, 105, 1);
  --slate-700: rgba(51, 65, 85, 1);
  --slate-800: rgba(30, 41, 59, 1);
  --slate-900: rgba(15, 23, 42, 1);
  --slate-950: rgba(2, 6, 23, 1);
  /* Implementation of UI system foundation ends here */

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.54 0.2524 267.49);
  --primary-foreground: oklch(0.54 0.2524 267.49);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer utilities {
  .border {
    border-width: var(--border-width-default);
  }

  .border-1 {
    border-width: var(--border-width-1);
  }

  .border-2 {
    border-width: var(--border-width-2);
  }

  .border-4 {
    border-width: var(--border-width-4);
  }

  .border-8 {
    border-width: var(--border-width-8);
  }

  .label-regular {
    @apply text-[14px]/[16px] font-semibold;
  }

  .label-small {
    @apply text-2xs/[14px] font-medium;
  }

  .body-small {
    @apply font-regular text-[13px]/[20px];
  }

  .caption-small {
    @apply font-regular text-2xs/[14px];
  }

  .caption-regular {
    @apply font-medium text-xs/[17px];
  }

  .subtitle-large {
    @apply text-smd/[24px] font-regular;
  }

  .button-medium {
    @apply text-xs/[17px] font-semibold;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .subtitle-regular {
    @apply text-sm-m/[21px] font-regular;
  }
}

@layer base {
  html,
  body {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Hide number input arrows in Chrome, Safari, Edge, Opera */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Hide number input arrows in Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  .display {
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-xbold);
    line-height: 58px;
  }

  h1 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-bold);
    line-height: 48px;
  }

  h2 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-bold);
    line-height: 40px;
  }

  h3 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-sbold);
    line-height: 36.5px;
  }

  h4 {
    font-size: var(--text-xmd);
    font-weight: var(--font-weight-sbold);
    line-height: 32.5px;
  }

  h5 {
    @apply font-semibold text-md/[25px]

    /* font-size: var(--text-md);
    font-weight: var(--font-weight-sbold);
    line-height: 28px; */;
  }

  h6 {
    @apply text-smd-m/[19px] font-semibold;

    /* @media (idth: 768px) {
      @apply text-smd-m/[19px] font-semibold;
    } */
  }

  /* .subtitle-large { 
    font-size: var(--text-smd);
    font-weight: var(--font-weight-regular);
    line-height: 27px;
  } */

  /* .subtitle-regular {
    font-size: var(--text-sm);
    font-weight: var(--font-weight-regular);
    line-height: 24px;
  } */

  .body {
    font-size: var(--text-sm);
    font-weight: var(--font-weight-regular);
    line-height: 26px;
  }

  .body-bold {
    font-size: var(--text-sm);
    font-weight: var(--font-weight-bold);
    line-height: 26px;
  }

  /* .body-small {
    font-size: var(--text-xs-r);
    font-weight: var(--font-weight-regular);
    line-height: 22.5px;
  } */

  .body-small-bold {
    font-size: var(--text-xs-r);
    font-weight: var(--font-weight-bold);
    line-height: 22.5px;
  }

  button {
    font-size: var(--text-sm);
    font-weight: var(--font-weight-sbold);
    line-height: 19px;
  }

  /* .button-medium {
    font-size: var(--text-xs);
    font-weight: var(--font-weight-medium);
    line-height: 16.5px;
  } */

  /* .caption-regular {
    font-size: var(--text-xs);
    font-weight: var(--font-weight-medium);
    line-height: 16.5px;
  } */

  /* .caption-small {
    font-size: var(--text-2xs);
    font-weight: var(--font-weight-regular);
    line-height: 14px;
  } */

  /* .label-regular {
    font-size: var(--text-xs);
    font-weight: var(--font-weight-sbold);
    line-height: 16.5px;
  } */

  /* .label-small {
    font-size: var(--text-2xs);
    font-weight: var(--font-weight-medium);
    line-height: 14px;
  } */

  .label-xsmall {
    font-size: var(--text-3xs);
    font-weight: var(--font-weight-medium);
    line-height: 9.6px;
  }

  input {
    /* font-size: var(--text-sm);
    font-weight: var(--font-weight-regular);
    line-height: 19px; */
    @apply text-sm/[19px] font-regular;
  }

  /* Responsive overrides for mobile */
  @media (idth: 768px) {
    .display {
      font-size: var(--text-3xl-m);
      line-height: 38.5px;
    }

    h1 {
      font-size: var(--text-2xl-m);
      line-height: 33.5px;
    }

    h2 {
      font-size: var(--text-xl-m);
      line-height: 29px;
    }

    h3 {
      font-size: var(--text-lg-m);
      line-height: 28.5px;
    }

    h4 {
      font-size: var(--text-xmd-m);
      line-height: 27px;
    }

    h5 {
      @apply font-semibold text-md-m/[25px]
      /* font-size: var(--text-md-m);
      line-height: 25px; */;
    }

    h6 {
      @apply text-smd-m/[19px] font-semibold;
    }

    /* .subtitle-large { 
      font-size: var(--text-smd-m);
      line-height: 24px;
    } */

    /* .subtitle-regular {
      font-size: var(--text-sm-m);
      line-height: 21px;
    } */

    .body {
      font-size: var(--text-sm-m);
      line-height: 22.5px;
    }

    .body-bold {
      font-size: var(--text-sm-m);
      line-height: 22.5px;
    }

    /* .body-small {
      font-size: var(--text-xs-r-m);
      line-height: 19.5px;
    } */

    .body-small-bold {
      font-size: var(--text-xs-r-m);
      line-height: 19.5px;
    }

    button {
      font-size: var(--text-sm-m);
      line-height: 16.5px;
    }

    /* .button-medium {
      font-size: var(--text-xs-m);
      line-height: 16.5px;
    } */

    /* .caption-regular {
      font-size: var(--text-xs-m);
      line-height: 16.5px;
    } */

    /* .caption-small {
      font-size: var(--text-2xs-m);
      line-height: 14px;
    } */

    /* .label-regular {
      font-size: var(--text-xs-m);
      line-height: 16.5px;
    } */

    /* .label-small {
      font-size: var(--text-2xs-m);
      line-height: 14px;
    }
 */
    .label-xsmall {
      font-size: var(--text-3xs-m);
      line-height: 9.6px;
    }

    /* input {
      font-size: var(--text-sm-m);
      line-height: 16.6px;
    } */
  }
}

/* OLD & DROPPED */

/* @theme {
  --color-primary-foreground: var(--primary-foreground);
  --color-alert: var(--alert);
  --color-primary: var(--primary);

  --text-button: 1rem;
  --text-button--line-height: 1.2rem;
  --text-button--font-weight: 600;

  --text-button--letter-spacing: 0.125rem;

  --text-3xl: 3rem;
  --text-2xl: 2.5rem;
  --text-xl: 2rem;
  --text-lg: 1.75rem;
  --text-xmd: 1.5rem;
  --text-md: 1.25rem;
  --text-smd: 1.125rem;
  --text-sm: 1rem;
  --text-xs: 0.875rem;
  --text-2xs: 0.75rem;
  --text-3xs: 0.625rem;

  --lh-display: 1.1875;
  --lh-h1: 1.2;
  --lh-h2: 1.2;
  --lh-h3: 1.25;
  --lh-h4: 1.125;
  --lh-h5: 1.25;
  --lh-h6: 1.35;
  --lh-body-reg: 1.65;
  --lh-button: 1.2;

  --color-primary-lightest: var(--primary-lightest);
  --color-primary-light: var(--primary-light);
  --color-primary-mlight: var(--primary-mlight);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-darkest: var(--primary-darkest);
  --color-primary-default-15: var(--primary-default-15);

  --color-on-action: var(--neutral-white);
  --color-neutral-lightest: var(--neutral-lightest);
  --color-neutral-light: var(--neutral-light);
  --color-neutral-midlight: var(--neutral-midlight);
  --color-neutral: var(--neutral-default);
  --color-neutral-dark: var(--neutral-dark);
  --color-neutral-darkest: var(--neutral-darkest);
  --color-neutral-darkest-25: var(--neutral-darkest-25);
  --color-alert-lightest: var(--alert-lightest);
  --color-alert-light: var(--alert-light);
  --color-alert: var(--alert);
  --color-alert-dark: var(--alert-dark);
  --color-alert-darkest: var(--alert-darkest);
  --color-attention-lightest: var(--attention-lightest);
  --color-attention-light: var(--attention-light);
  --color-attention: var(--attention-default);
  --color-attention-dark: var(--attention-dark);
  --color-attention-darkest: var(--attention-darkest);
  --color-success-lightest: var(--success-lightest);
  --color-success-light: var(--success-light);
  --color-success: var(--success);
  --color-success-dark: var(--success-dark);
  --color-success-darkest: var(--success-darkest);
  --color-slate-lightest: var(--slate-lightest);
  --color-slate-light: var(--slate-light);
  --color-slate: var(--slate-default);
  --color-slate-dark: var(--slate-dark);
  --color-slate-darkest: var(--slate-darkest);
} */

/* nextjs-portal {
  display: none;
} */

/* body[data-vaul-drawer-open] {
  pointer-events: auto !important;
} */

/* .text-button {
  @apply  ;
} */

/* .roboto-flex {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "YTFI" 788, "YTLC" 450, "YTUC" 600;
} */

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

/* @container (idth: 768px) {
  h1 {
    font-size: var(--text-3xl-m);
    line-height: 32px;
  }

  h2 {
    font-size: var(--text-2xl-m);
    line-height: 28px;
  }

  h3 {
    font-size: var(--text-xl-m);
    line-height: 24px;
  }

  h4 {
    font-size: var(--text-lg-m);
    line-height: 22px;
  }

  h5 {
    font-size: var(--text-md-m);
    line-height: 20px;
  }

  h6 {
    font-size: var(--text-smd-m);
    line-height: 18px;
  }

  p {
    font-size: var(--text-xsml-m);
    line-height: 22px;
  }

  button {
    font-size: var(--text-xsml-m);
    line-height: 20px;
  }

  .subtitle-larg,
  .subtitle-reg {
    font-size: var(--text-xsm-m);
  }

  .caption-reg,
  .label-reg {
    font-size: var(--text-2xsm-m);
  }

  .caption-small,
  .label-small {
    font-size: var(--text-2xsm-m);
  }

  .label-xsmall {
    font-size: var(--text-3xsm-m);
  }

  input {
    font-size: var(--text-xsm-m);
  }
} */

@layer base {
  :root {
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }

  .dark {
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
